<h2 style="text-align: center;margin-bottom: 56px; color: #666; font-size: 54px; font-weight: 600;">Sign up</h2>
<div style="text-align: center;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
      <div class="field">
      <%= f.label :photo %> <br>
      <%= f.url_field :photo_url, autofocus: true, autocomplete: "photo" %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

      <div class="field">
        <% roles = {'company'=> '1', 'natural user' => '0'}%>    
        <fieldset>
            <% lista = roles.sort %>
            <%lista.each do |role|%>
            <%= f.radio_button :role, role[1] %>
            <label for="<%= role[1] %>"><%= role[0] %> </label>
            <% end %>
        </fieldset>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
