<h1 style="text-align:center">Welcome Pets </h1>
<div style="text-align:center">


        <div class="prueba">
  
          <% @tweets.each do |tweet| %>
            <div class="card mb-3" style="max-width: 740px; border-radius: 1.25rem ; border: 0.10rem solid #17a2b8" >
              <div class="row g-0">
                <div class="col-md-4">
                  <div class= "">
                  <%= image_tag (tweet.user.photo_url), class:"rounded-circle"%> </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="color: #666; font-size: 24px; font-weight: 600;"><%= tweet.user.name %></h5>
                        <div class="" style= "color: #666; font-weight: 550;">
                            <%= tweet.content %>
                          <%if user_signed_in? %>
                            <%if current_user.id == tweet.user_id %>
                                <br>
                                <td><%= link_to 'Edit', edit_tweet_path(tweet),  class: "edit m-2 mt-3 " %></td>
                                <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } ,  class: "destroy m-2 mt-3"%></td>
                            <% end %>
                                  </div>
                                  <div class="">
                                  <div class="card-tweet">
                                    <ul style="list-style-type:none" >
                                        <%= link_to "#{tweet.global_likes}", likes_path(tweet.id), method: :post, class: "fa fa-paw  m-2"  %>
                                        <%= link_to tweet.retweets.size, tweet_path(tweet.id), method: :post, class: "fa fa-retweet m-2" %>
                                        <%= link_to distance_of_time_in_words(Time.now, tweet.created_at), tweet_path(tweet.id), class:"tweet-time" %>
                                        <p class="card-text" style="color: #666; font-size: 24px;"><%= render_with_hashtags(tweet.content) %></p>
                                      </li>
                                    </ul>
                              </div>
                                <% else %>
                                <br>
                                <td ><%= link_to "#{tweet.global_likes}", likes_path(tweet.id), method: :post, class: "fa fa-paw m-2 mt-3 " %></td>
                                <td ><%= link_to tweet.retweets.size, tweet_path(tweet.id), method: :post, class: "fa fa-retweet m-2" %></td>
                                <td ><%= link_to distance_of_time_in_words(Time.now, tweet.created_at), tweet_path(tweet.id) ,class:"tweet-time"%></td>
                                <td> </td>
                            <% end %>
                        </div>
                      </div>
                  </div>
                </div>
            <div class="followers">
              <div> 
                  <%if user_signed_in? %>
                  <% unless tweet.user.user_following_me(current_user) %>
                  <span><%= button_to  "Follow", follow_tweet_path(tweet.user.id), method: :post, class: "tweet--date" %></span>
                <% end%>
                  <% if current_user.users_i_follow(tweet.user) %>
                  <span><%= button_to  "Unfollow", destroy_following_path(tweet.user.id), method: :delete, class: "tweet--date" %></span>
                <%end%>
                <%end %>
              </div>
            <div class="container-followers">
              
              <div class="div-followers">Followers: <%= tweet.user.followers.count %> </div>
              <div class="div-following">Following: <%= tweet.user.following.count %> </div>
            </div> 

            </div>
            </div>
          <% end %>
    </div>
    <%if params[:q].present? == false %>
      <div style="text-align:center">
        <%= link_to_next_page @tweets, 'Show More Tweets' %>
        <%= link_to_prev_page @tweets, 'Show Previous Tweets' %>
      </div>
      <div style="text-align:center">
        <%= page_entries_info @tweets %>
      </div>
    <% end %>
</div>