<div class= "container">
  <p id="notice"><%= notice %></p>
  
      <div class="row">
          <div class="col-md-8">
            <strong>Tweet:</strong>
            <%= @tweet.content %>
          </div>
      </div>

      <div class="row">
          <div class="col-md-8">
            <strong>Name</strong>
            <%= @tweet.user.name%>
          </div>
      </div>


      <div class="row">
          <div class="col-md-8">
            <strong>Cant likes</strong>
            <%= @tweet.likes.count%>
          </div>
      </div>


      <div class="row">
          <div class="col-md-8">
            <strong>Likes</strong>
            <%@tweet.likes.each do |like| %>
            <ul>
              <%=like.user.photo_url%>
            </ul>
              
            <% end %>
          </div>
      </div>


      <div class="row">
          <div class="col-md-8">
            <strong>Retweets</strong>
            <%= @tweet.retweets.count%>
          </div>
      </div>


  <%= link_to 'Back', tweets_path %>



</div>
