<%= @user.name %>
<%= link_to 'Follow', user_friendships_path(@user), method: :post, class: 'btn btn-danger' unless @friend.present? %>
<%= link_to 'Unfollow',friendship_path(@friend.id), method: :delete, class: 'btn btn-danger' if @friend.present?  %>
<h2>Followers: <%= @user.followers.count %> </h2>
<h2>Following: <%= @user.following.count %> </h2>
