<nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-info text-white">
  <div>
    <i class="fas fa-cat fa-3x"> <%=link_to 'Twitter to pets', root_path %></i>
  </div>

  
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <%if current_user %>
        
        <li class="nav-item mx-3 "> 
          <a class="nav-link"> <%=link_to 'Sign Out', destroy_user_session_path, method: :delete %></a>
        </li>
        <li class="nav-item mx-3 pb-3">
          <a class="nav-link "> <%=link_to 'New Tweet', new_tweet_path %></a> 
        </li>
      <% else %>

      <li class="nav-item mr-3">
        <a class="nav-link"> <%=link_to 'Registration', new_user_registration_path %></a>
      </li>

      <li class="nav-item mx-3 "> 
          <a class="nav-link"> <%=link_to 'Sign In', user_session_path %></a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>


